body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: forum;
    margin-top: 70px;
    overflow-x: hidden;
}
header {
    background-color: #f191ac;
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content:center;
    max-width: 100%; 
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    opacity: 0.9;
}

main {
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    
}

footer {
    background-color: #f191ac;
    height: 160px;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    max-width: 100%;
}

ul a {
    background-color: #f6a6bb;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 30px;
    transition: 0.3s;
}

ul a:hover {
    background-color: white;
    color: #f191ac;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.96%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}


.logo {
    height: 60px;
    display: flex;
}

.carrossel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    max-width: 100%;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
button {
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
}

#btn-anterior {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #f191ac;
  color: #fff;
  z-index: 9;
}

#btn-proximo {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #f191ac;
  color: #fff;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
}

.categoria {
    width: 150px;
    height: 150px;
    background: #ffafcc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rodape {
    color: white;
    display: flex;
    justify-content: center;
}

.redes-sociais {
    display: flex;
    font-size: 30px;
    margin: 0 10px;
    transition: 0.3s;
    list-style: none;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
}

.redes-sociais a {
    color: white;
}

.redes-sociais a:hover {
    color: #ffbad4;
    transform: scale(1.2);
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    z-index: 1000;
}

.cards-categorias {
  display: flex;
  gap: 80px;
  padding: 40px;
  overflow-x: auto;
  justify-content: center;
  max-width: 100%;
}

.card-categoria {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #f191ac;
  box-shadow: 0 0 6px #555;
  text-decoration: none;
  color: #f191ac;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-categoria img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.titulo-card {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  background-color:#f191ac;
  padding: 5px 150px;
  color: white;
}

.card-categoria::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 220, 235, 0.25);
  z-index: 1;
}

.card-categoria:hover {
  transform: scale(1.05);
}

.carrossel-infinito {
    width: 70%;
    max-width: 100%;
    margin: 0px auto;
    overflow: hidden;
    padding: 3px 0;
    border-radius: 15px;
    background: #fedcd9;
}

.faixa-carrossel {
    display: flex;
    gap: 10px;
    width: max-content;
    animation: deslizar 12s linear infinite;
}

.faixa-carrossel.reverso {
    animation-direction: reverse;
}

.faixa-carrossel img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

@keyframes deslizar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80%;
    max-width: 100%;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4bbc9;
    border: 2px solid #f191ac;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.historia-marca {
    flex: 1;
}

.historia-marca h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 15px;
}

.historia-marca p {
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
}

.historia img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #cf8ba3;
}

.contato {
    color: white;
    font-size: 10px;
    gap: 5px;
    text-align: center;
}

.contato h2 {
    color: white;
    text-align: center;
    
}

.informs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffdae4;
    border: 2px solid #f191ac;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.informs-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    color: white;
    border: #f2a1b0 10px solid;
    border-radius: 10px;
}

.informs-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    color: white;
    border: #f2a1b0 10px solid;
    border-radius: 10px;
}

.informs-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    color: white;
    border: #f2a1b0 10px solid;
    border-radius: 10px;
}

.informs h2 {
    color: #f7b2ce;
    font-size: 18px;
}

.informs p {
    color: #f7b2ce;
    font-size: 14px;
    text-align: center;
}

.titulo-secao {
    color: #f191ac;
    background-color: #ffdae4;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    
}
