*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #fcd5ce;
    font-family: forum;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 90px;
    background-color: #f191ac;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
    transform: translateY(40px);
    text-transform: uppercase;
    padding: 0 25px;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.prota{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
}

.tittle{
    margin: 0;
}
.page-content{
    margin:0;
    left: 0;
    opacity: 0;
    padding-top: 110px;
    transform: translateY(40px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.container{
    width: 100%;
    padding: 20px;
}

.container ul{
    list-style: none;
}

.container ul li{
    margin-bottom: 20px;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    z-index: 1000;
}
.container ul li a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    gap: 12px;
    padding: 20px;
    text-decoration: none;
    flex-wrap: wrap;
}

.container ul li h3{
    color: #f191ac;
    text-transform: capitalize;
    font-size: 30px;
 
}
.container ul li p{
    color: white;
    font-style: italic;
    text-transform: capitalize;
    font-size: 20px;
}
.container ul li a:hover h3{
    color: #f191ac;
}

.container ul li a:hover p{
    color: white;
}

@media (max-width: 768px){

    header{
        height: 80px;
        padding: 0 15px;
    }

    .prota{
        margin-left: 35px;
    }

    .tittle{
        font-size: 1.3rem;
    }

    .container{
        padding: 15px;
    }

    .container ul li a{
    display: flex;
    color: #fff;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
    transition: all 0.4s ease;
}

.container ul li a:hover h3{
    color: #f191ac;
}

    .container ul li h3{
        font-size: 1.3rem;
    }

    .container ul li p{
        font-size: 1rem;
    }
    .container ul li :hover p {
        color: white;
    }
    
}
a:hover
    {
    background-color: #f3cdc5;
    transition-duration: 0.2s;
    border-radius: 10px;
    }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform:translateY(0)
    }
}
.produto-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: 0.3s;
    flex-shrink: 0;
}
section {
    display: flex;
    flex-direction: column;
    text-align:center;
    gap: 10px;
    color: #777;
}